{% extends "base_generic.html" %}

{% block content %}
    <h3>{{ post.title }} </h3>
    <p>Published on: {{ post.published_date }}</p>
    {% if user.is_staff or request.user == post.author %}
    <h5><a href="{% url 'post-delete' post.pk %}"> Delete Article <i class="fa fa-trash"></i></a></h5>
    {% endif %}

    {% if request.user == post.author %}
    <h5><a href="{% url 'post-update' post.pk %}"> Update Article <i class="fa fa-edit"></i></a></h5>
    {% endif %}

    <p><strong>Written by:</strong><a href="{% url 'author-info' post.author %}"> {{ post.author.get_full_name|default:post.author }}</a></p>
    <p><strong>Written by:</strong> {{ post.author.get_full_name|default:post.author }}</p>
  
  {% comment %}
  <p><strong>Topics:</strong> {{ post.topic.all|join:", " }}</p>
  {% endcomment %}

  <div class="text-justify">
    {{ post.text|safe }}
  </div>
{% endblock %}